on:
  push:
    branches: [main]
  pull_request:
    branches: [test]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - run: java -jar fabric-server-mc.1.20-loader.0.14.21-launcher.0.11.2.jar nogui
    
